@font-face {
    font-family: Roboto;
    src: url(/appsus/assets/fonts/Roboto/Roboto-Regular.ttf)
}

@font-face {
    font-family: Comfortaa;
    src: url(/appsus/assets/fonts/Comfortaa/Comfortaa-Medium.ttf);
}