.mail-side-bar {
    background-color: rgb(246, 248, 252);
    height: calc(100vh - 70px);
    flex-basis: 18.82%;
}

.mail-list-container {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    flex-basis: 76.25%;
}

.mail-info-container {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    flex-basis: 76.25%;

    margin-top: 8px;


}

.side-bar-contect {
    display: flex;
    flex-direction: column;
}

.additional-app {
    background-color: rgb(246, 248, 252);
    flex-basis: 4.93%;
}



.mail-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.side-bar-padding {
    padding-top: 24px;

}

.sidebar-icons {
    padding-left: 28px;
    /* padding-bottom: 16px; */
    height: 36px;
    width: 80%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.compose {
    margin-left: 8px;
    margin-top: 8px;
    height: 55px;
    width: 120px;
    background-color: rgb(194, 230, 254);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.compose-icon {
    width: 20px;
    height: 20px;
}

.compose-btn {

    display: flex;
    align-content: center;
}

.mail-link-icons {
    flex-basis: 8%;
    display: flex;
    align-items: center;
    gap: 3px;
}

.mail-link-icons:first-child{
    background-color: aquamarine;
}

.mail-link-cotext {
    width: 70vw;
    display: flex;
    align-items: center;
}