.mailLink {
    display: flex;
    background-color: white;
    width: 100%;
    height: 40px;
    border: 2px solid rgb(246, 248, 252);
    border-top: none;
}

.mail-conatiner {
    display: flex;
    flex-direction: column;
}

.padding {
    /* width: 100vw; */
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    gap: 10px;
}

.date {
    flex-basis: 10%;
    display: flex;
    justify-self: flex-end;
    text-align: right;
    float: right;
}

.username {
    /* flex-basis: 10%; */
    width: 10vw;
}

.massage {
    flex-basis: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

input {
    margin-left: 10px;
    /* width: 100vw; */
    border: 2px black solid;
    border-radius: 5px;
}

textarea {
    border: 2px black solid;
    border-radius: 5px;
}

.send-btn {
    width: 100px;
}

form {
    margin-top: 3px;
    gap: 3px;
}

.tool-bar {
    display: flex;
    gap: 20px;
    margin-left: 73px;
    margin-bottom: 40px;
}

.padding-mail-info {
    margin-left: 73px;
}