header {
    background: rgb(246, 248, 252);
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: rgb(240, 183, 183);
    font-weight: bold;
    text-decoration: overline;
}


.logo {
    font-family: Comfortaa;
    font-size: 1.8rem;
}

.burger-icon {
    width: 25px;
    height: 25px;
    margin-left: 27px;
    margin-right: 20px;

}